# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/headless/node_modules
/headless/mnt

# testing
/coverage
junit.xml

/.idea

# production
/build
/storybook-static

# misc
.DS_Store
# local env files
.env.local
.env.*.local
.env

# Log files
*.log

# scjssconfig*.json
*.deploysecret.config
/build-rendering-host
/package-lock.json
/public/config.js
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/Brand-Sitecore-JSS/v16/.suo


